{% extends "base.html" %}
{% block head %}
        <link href="{{ url_for('static', filename='css/bootstrap.css') }}" rel="stylesheet" type="text/css" media="all">
        <link href="{{ url_for('static', filename='css/specifics.css') }}" rel="stylesheet" type="text/css" media="all">
        <link href="{{ url_for('static', filename='css/bootstrap.min.css') }}" rel="stylesheet" type="text/css" media="all">
        <link href="{{ url_for('static', filename='css/bootstrap-theme.css') }}" rel="stylesheet" type="text/css" media="all">
        <link href="{{ url_for('static', filename='css/bootstrap-theme.min.css') }}" rel="stylesheet" type="text/css" media="all">
        <script src="{{ url_for('static', filename='js/jquery-2.1.3.min.js') }}"></script>
        <script src="{{ url_for('static', filename='js/bootstrap.js') }}"></script>
        <script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
{% endblock %}
{% block body %}
<div class="clean_center">
  <p class="lead">This is a simple application that provides human-assisted flower classification</p>
  {% if process == "upload" %}
      <div class="panel panel-default">
        <div class="panel-heading"><strong>Upload Files</strong></div>
        <div class="panel-body">

          <!-- Standar Form -->
          <h4>Select files from your computer</h4>
          <form action="" method="post" enctype="multipart/form-data" id="js-upload-form">
            <div class="form-inline">
              <div class="form-group">
                <input type="file" name="file" id="js-upload-files" multiple>
              </div>
              <button type="submit" class="btn btn-sm btn-primary" id="js-upload-submit">Upload file</button>
            </div>
          </form>
        </div>
      </div>
  {% elif process == "primary" %}
      <p>Primary Petal Color</p>
      <canvas id="chosen_color" width="200" height="60"></canvas>
      <img value="{{ process }}" src="{{ url_for('static', filename='imgs/temp/' + file_path) }}" id="flower" style="width:304px;height:228px">
      <a id="next" class="btn btn-sm btn-primary" href="{{ url_for('classification.second_image', filename=file_path, process="secondary") }}">Next</a>
  {% elif process == "secondary" %}
      <p>Secondary Petal Color</p>
      <canvas id="chosen_color" width="200" height="60"></canvas>
      <img value="{{ process }}" src="{{ url_for('static', filename='imgs/temp/' + file_path) }}" id="flower" style="width:304px;height:228px">
      <a id="next" class="btn btn-sm btn-primary" href="{{ url_for('classification.petal_count', filename=file_path, process="count") }}">Next</a>
  {% elif process == "count" %}
      <p>Petal Count</p>
        <form>
          <select class="btn btn-sm" id="selector">
            {% for i in range(40) %}
                <option value="{{ i }}" selected="selected">{{ i }}</option>
            {% endfor %}
          </select>
        </form>
      <img value="{{ process }}" src="{{ url_for('static', filename='imgs/temp/' + file_path) }}" style="width:304px;height:228px">
      <a id="next" class="btn btn-sm btn-primary" href="{{ url_for('classification.stem_color', filename=file_path, process="stem_color") }}">Next</a>
  {% elif process == "stem_color" %}
      <p>Stem Color</p>
      <canvas id="chosen_color" width="200" height="60"></canvas>
      <img value="{{ process }}" src="{{ url_for('static', filename='imgs/temp/' + file_path) }}" id="flower" style="width:304px;height:228px">
      <a id="next" class="btn btn-sm btn-primary" href="{{ url_for('classification.main_application', filename=file_path, process="submit") }}">Submit</a>
  {% endif %}
</div>
{% endblock %}

{% block script %}
    $( "#flower" ).click(function(e) {
        var offset = $(this).offset();
        var filename = $(this).attr("src");
        var process = $(this).attr("value");
        var x = e.clientX - offset.left;
        var y = e.clientY - offset.top;
        $.ajax({
                url: "{{ url_for('classification.get_image') }}",
                type: 'get',
                dataType: 'json',
                data: {
                    x: x,
                    y: y,
                    filename: filename,
                    process: process,
                }, success:function(data) {
                var example = document.getElementById('chosen_color');
                var context = example.getContext('2d');
                var r = data['RGB'][0].toString()
                var g = data['RGB'][1].toString()
                var b = data['RGB'][2].toString()
                context.fillStyle = "rgb(" + r + "," + g + "," + b + ")";
                context.fillRect(0, 0, 50, 50);
    }
        });
    });

    $("#selector").change(function() {
        var process = $("img").attr("value");
        var count = $( "#selector option:selected" ).text();;
        var filename =  $("img").attr("src");
        $.ajax({
                url: "{{ url_for('classification.save_count') }}",
                type: 'get',
                dataType: 'json',
                data: {
                    filename: filename,
                    process: process,
                    count: count,
                }, success:function(data) {

    }
        });
    });
{% endblock %}